#snakeBoard {
  width: 525px;
  height: 525px;
  border: 10px solid red;
  margin: 0 auto;
  border-radius: 10px;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  color: white;
}

body {
  background-color: #15541B;
}

.square {
  float: left;
  height: 35px;
  width: 35px;
  background-color: #151C54;
  outline: 1px solid black;
}

.snake {
  background-color: #D7F516 !important;
}